seller.mahling.me {
  encode zstd gzip

  # Reihenfolge garantiert: erst Redirect auf /ui, sonst Proxy.
  route {
    @root path /
    redir @root /ui 307

    reverse_proxy http://172.28.0.10:8088 {
      # Healthcheck auf stets öffentliche Ressource
      health_uri /openapi.json
      health_interval 10s
      health_timeout 3s
    }
  }
}
